doctype html
html(lang="en")
    head
        title —Hello, world!
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="viewport", content="width=800, user-scalable=no")
        link(href="index.css", rel="stylesheet", type="text/css", media="screen")
        link(href="//fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic", rel="stylesheet", type="text/css")
    body(class="bodyMain")
        h1(class="bodyMain__tagLine") —Hello, world!
        script(src="index.js")
